# supported browsers
# See https://github.com/ai/browserslist for more info
# based on data from http://caniuse.com/
# http://browserl.ist/?q=%3E+1%25%2C+last+1+version%2C+not+dead

> 2% in US
last 1 version
not dead
